a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

* {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
}
.lt-container {
    width: 100%;
    height: 100%;
    padding-top: 45px;
    padding-bottom: 50px;
}
/* 头部导航 */
.lt-topBar {
    width: 100%;
    height: 45px;
    background-color: #006699;
    color: #fff;
}
.lt-topBar h1 {
    color: #fff;
}
.lt-topBar a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    padding: 0 10px;
}

.lt-toolbar {

    width: 100%;
    background-color: #006699;
}
.lt-toolbar span:first-child {
    display: block;
}
.lt-toolbar span:last-child {
    font-size: 12px;
}
.lt-toolbar .mui-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
  }
  .lt-toolbar .mui-item.mui-active {
      color: darkorange;
  }