
.mui-content {
    width: 100%;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {
    margin: 0;
    padding:0;
}
.mui-content ul li {
    width: 33.333%;
}
.mui-content ul a {
    display: block;
    width: 100%;
    height: auto;
}
.mui-content ul a img {
    width: 100%;
    vertical-align: middle;
}
.cz-cate {
    margin-top: 0px;
    padding: 0 10px;
}
.mui-content>.mui-table-view:first-child {
    margin-top: 0px;
}
.lt-cate ul {
    display: none;
}
.lt-active {
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lt-active a {
    display: block;
}
.lt-active a:nth-child(2n+1) {
    width: 67.1%;
    float: left;
}
.lt-active a:nth-child(2n+1) img {
    width: 50%;
    float: left;
}
.lt-active a:nth-child(2n) {
    width: 32.9%;
    float: right;
}
.lt-active a:nth-child(2n) img {
    width: 100%;
    vertical-align: middle;
}

/* brand专区 */
.lt-brand {
    width: 100%;
    padding: 0 10px;  
}
.lt-brand>img {
    width: 100%;
    vertical-align: middle;
}
.lt-brand ul {
    width: 100%;
    overflow: hidden;
}
.lt-brand ul li {
    float: left;
    width: 25%;
}
.lt-brand ul a {
    display: block;
    width: 100%;
}
.lt-brand ul a img {
    width: 100%;
    vertical-align: middle;
}

/* live专区 */
.lt-live {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
}
.lt-live>img {
    width: 100%;
    vertical-align: middle;
}
.lt-live a {
    display: block;
    float: left;
    width: 50%;
    padding: 0 6px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.lt-live a img {
    width: 100%;
    vertical-align: middle;
}
.lt-live .box {
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}
.lt-live .name {
    padding: 0 8px;
    text-align: center;
}
.lt-live p {
    text-align: center;
}
.lt-live p .price {
    color: red;
}
.lt-live p .oldPrice {
    text-decoration: line-through;
}
.lt-live .btn {
    text-align: center;
    background-color: #006699;
    margin: 8px 0;
    color:#fff;
}